<div class="u-mrg-v-6">
  <h1>Scout</h1>
  <p>Currently auditing: <code>styles.css</code> from <a href="https://secure.helpscout.net">https://secure.helpscout.net</a></p>
  <p><small>Max Results: {{ results.length }}</small></p>
  <p><small><strong>Note:</strong> <a href="https://imperavi.com/redactor/" target="_blank">Redactor</a> styles have been omitted.</small></p>
</div>
<div id="results-list" class="u-mrg-v-5">
{{#if results}}
  <div class="u-mrg-b-3">
    <label>Filter:</label>
    <input type="text" class="c-input fuzzy-search" placeholder="Example: .btn-group" />
  </div>
  <ul class="list c-list">
  {{#each results as |result|}}
    <li class="c-card u-mrg-b-1">
      <a class="c-card__block u-d-block js-collapse tx-no-underline" href="#entry-{{@index}}" style="color: black;">
        <div class="o-row">
          <div class="o-col-5@sm">
            <code style="background: none;" class="name u-pad-0 u-d-block tx-truncate" title="{{result.selector}}">{{result.selector}}</code>
          </div>
          <div class="o-col-7@sm">
            <div class="o-row">
              <div class="o-col-8@sm tx-left">
                <div class="o-row u-op-5">
                  <div class="o-col-6">
                    <small>
                      Selectors: <strong>{{result.selectors.length}}</strong>
                    </small>
                  </div>
                  <div class="o-col-6">
                    <small>
                      Severity: <strong>{{result.severity}}</strong>
                    </small>
                  </div>
                </div>
              </div>
              <div class="o-col-4@sm tx-right@sm tx-lh-reset">
                {{#if result.level4}}
                  💀 <span class="c-badge is-error">Holy Moly!!!</span>
                {{/if}}
                {{#if result.level3}}
                  😵 <span class="c-badge is-error">Super Bad</span>
                {{/if}}
                {{#if result.level2}}
                  😱 <span class="c-badge is-warning">Really Bad</span>
                {{/if}}
                {{#if result.level1}}
                  😰 <span class="c-badge is-warning">Pretty Bad</span>
                {{/if}}
                {{#if result.level0}}
                  😓 <span class="c-badge">It's Fine!!!</span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </a>
      <div id="entry-{{@index}}" class="c-card__block u-d-none" data-selector="{{result.selector}}">
        <div class="u-mrg-b-1"><strong>Selectors:</strong> {{result.selectors.length}}</div>
        <ul class="c-list c-list--bullet">
        {{#each result.selectors as |selector|}}
          <li><code class="selector">{{selector}}</code></li>
        {{/each}}
        </ul>
      </div>
    </li>
  {{/each}}
  </ul>
{{/if}}
</div>
