<div class="u-mrg-v-6">
  <h1>Scout</h1>
  <p>Currently auditing: <code>styles.css</code> from <a href="https://secure.helpscout.net">https://secure.helpscout.net</a></p>
  <p><small>Max Results: {{ results.length }}</small></p>
  <p><small><strong>Note:</strong> <a href="https://imperavi.com/redactor/" target="_blank">Redactor</a> styles have been omitted.</small></p>
</div>
<div id="results-list" class="u-mrg-v-5">
{{#if results}}
  <div class="u-mrg-b-3">
    <label>Filter:</label>
    <input type="text" class="c-input fuzzy-search" placeholder="Example: .btn-group" />
  </div>
  <ul class="list c-list">
  {{#each results as |result|}}
    <li class="c-card u-mrg-b-1">
      <a class="c-card__block u-d-block js-collapse tx-no-underline" href="#entry-{{@index}}" style="color: black;">
        <div class="o-flexy o-flexy--top">
          <div class="o-flexy__block">
            <code style="background: none; padding: 0;" class="name">{{result.selector}}</code>
          </div>
          <div class="o-flexy__item tx-lh-reset u-mrg-l-3">
            {{#if result.isSuperBad}}
              💀 <span class="c-badge is-error">Holy Moly!!!</span>
            {{/if}}
            {{#if result.isPrettyBad}}
              😵 <span class="c-badge is-error">Super Bad</span>
            {{/if}}
            {{#if result.isBad}}
              😱 <span class="c-badge is-warning">Pretty Bad</span>
            {{/if}}
            {{#if result.isMild}}
              😰 <span class="c-badge is-warning">Bad</span>
            {{/if}}
            {{#if result.isLow}}
              😓 <span class="c-badge is-warning">Less Bad</span>
            {{/if}}
          </div>
        </div>
      </a>
      <div id="entry-{{@index}}" class="c-card__block u-d-none" data-selector="{{result.selector}}">
        <strong>Warnings</strong>: {{ result.warnings.length }}
        <hr>
        <div class="u-mrg-b-1"><strong>Selectors</strong></div>
        <ul class="c-list c-list--bullet">
        {{#each result.selectors as |selector|}}
          <li><code>{{selector}}</code></li>
        {{/each}}
        </ul>
      </div>
    </li>
  {{/each}}
  </ul>
{{/if}}
</div>
