{{> nav }}
<div class="u-mrg-v-6">
  <div class="u-mrg-b-1">
    {{#if title}}
      <h2 class="tx-h2 tx-700">{{title}}</h2>
      <a href="{{source}}" target="_blank"><code>{{source}}</code></a>
    {{else}}
      {{#if pageTitle}}
        <h2 class="tx-h2 tx-700">{{pageTitle}}</h2>
        <a href="{{source}}" target="_blank"><code>{{source}}</code></a>
      {{/if}}
    {{/if}}
  </div>
</div>
<div class="u-mrg-t-5 u-mrg-b-3">
  <div class="o-flexy">
    <div class="o-flexy__item u-mrg-r-2">
      Filter:
    </div>
    <div class="o-flexy__block u-mrg-r-auto">
      <input type="text" class="c-input js-search" placeholder="Example: btn-group" />
    </div>
    <div class="o-flexy__block">
    </div>
    <div class="o-flexy__item u-mrg-l-2">
      <small class="u-op-3">Max Results: {{ results.length }}</small>
    </div>
  </div>
</div>
<div id="results-list">
{{#if results}}
  <ul class="list c-list">
  {{#each results as |result|}}
    <li class="c-card u-mrg-b-1">
      <a class="c-card__block u-d-block js-collapse tx-no-underline" href="#entry-{{@index}}" style="color: black;">
        <div class="o-row">
          <div class="o-col-5@sm">
            <code style="background: none;" class="name u-pad-0 u-d-block tx-truncate" title="{{result.selector}}">{{result.selector}}</code>
          </div>
          <div class="o-col-7@sm">
            <div class="o-row">
              <div class="o-col-8@sm tx-left">
                <div class="o-row u-op-5">
                  <div class="o-col-6">
                    <small>
                      Selectors: <strong>{{result.selectors.length}}</strong>
                    </small>
                  </div>
                  <div class="o-col-6">
                    <small>
                      Severity: <strong>{{result.severity}}</strong>
                    </small>
                  </div>
                </div>
              </div>
              <div class="o-col-4@sm tx-right@sm tx-lh-reset">
                {{#if result.level6}}
                  🔥💀🔥 <span class="c-badge is-error">NO WAY!!!!!!!!</span>
                {{/if}}
                {{#if result.level5}}
                  💀💀 <span class="c-badge is-error">OMG. WUT!!!</span>
                {{/if}}
                {{#if result.level4}}
                  💀 <span class="c-badge is-error">Holy Moly!!</span>
                {{/if}}
                {{#if result.level3}}
                  😵 <span class="c-badge is-error">Super Bad</span>
                {{/if}}
                {{#if result.level2}}
                  😱 <span class="c-badge is-warning">Really Bad</span>
                {{/if}}
                {{#if result.level1}}
                  😰 <span class="c-badge is-warning">Pretty Bad</span>
                {{/if}}
                {{#if result.level0}}
                  😓 <span class="c-badge">It's Fine!!!</span>
                {{/if}}
                {{#if result.ok}}
                  🙂 <span class="c-badge is-success">Not Too Bad</span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </a>
      <div id="entry-{{@index}}" class="c-card__block u-d-none js-details" data-selector="{{result.selector}}">
        <div class="u-mrg-b-1"><strong>Selectors:</strong> {{result.selectors.length}}</div>
        <ul class="c-list c-list--bullet">
        {{#each result.selectors as |selector|}}
          <li><code>{{selector}}</code></li>
        {{/each}}
        </ul>
        <div class="keywords u-d-none">{{result.keywords}}</div>
      </div>
    </li>
  {{/each}}
  </ul>
{{/if}}
</div>

{{> footer}}
